<div class="container">
  <header class="header">
    <h1 class="title">Memories words</h1>
  </header>
  <div *ngIf="gameInstance?.isGameConfigShow || isGameConfigShow" class="game-config">
    <button class="btn btn-white mb-40" (click)="initGame(gameTypeEnum.STUDY)">Study</button>
    <button class="btn btn-purple" (click)="initGame(gameTypeEnum.TEST)">Start test</button>
  </div>
  <div *ngIf="gameInstance?.isGameSectionShow" class="game-section">
    <div class="game-field background-wrapper">
      <div class="column" *ngFor="let wordsColumn of gameInstance.wordsColumns; let columnIndex = index">
        <ng-container *ngFor="let word of wordsColumn">
          <button
            [disabled]="!word.isVisible || !gameInstance.isGameRunning || (columnIndex === 1 && !gameInstance.selectedWord)"
            class="btn btn-word"
            [class.opacity-zero]="!word.isVisible"
            [class.btn-scale]="columnIndex === 0 && gameInstance.selectedWord?.id === word.id || columnIndex === 1 && gameInstance.selectedTranslateWord?.id === word.id"
            [class.btn-not-equal]="!gameInstance.equalingWords.isWordsEqual && (columnIndex === 0  && gameInstance.equalingWords.selectedWordId === word.id) || (columnIndex === 1  && gameInstance.equalingWords.selectedTranslateWordId === word.id)"
            [class.btn-equal]="gameInstance.equalingWords.isWordsEqual && gameInstance.equalingWords.selectedWordId === word.id"
            (click)="gameInstance.selectWord(columnIndex, word)">
            <span *ngIf="columnIndex === 0">
              {{word.word.toLowerCase()}}
            </span>
            <span *ngIf="columnIndex === 1">
              {{word.translateWord.toLowerCase()}}
            </span>
          </button>
        </ng-container>
      </div>
    </div>
    <div class="game-control-wrapper">
      <div class="game-statistic">
        <div
          *ngIf="gameInstance.gameType === gameTypeEnum.TEST"
          class="background-wrapper statistic-item-wrapper">
          <span class="statistic-item-label">
            timer:
          </span>
          <span class="statistic-item-value">
            {{gameInstance.timerCounter}}
          </span>
        </div>
        <div
          *ngIf="gameInstance.gameType === gameTypeEnum.TEST"
          class="background-wrapper statistic-item-wrapper">
          <span class="statistic-item-label">
            words:
          </span>
          <span class="statistic-item-value">
            {{gameInstance.wordsProgress}} / {{gameInstance.sizeWordsRange}}
          </span>
        </div>
        <div
          class="background-wrapper statistic-item-wrapper">
          <span class="statistic-item-label">
            score:
          </span>
          <span class="statistic-item-value">
            {{gameInstance.score}}
          </span>
        </div>
      </div>
      <div class="game-control">
        <div
          class="testGameControl">
          <button
            *ngIf="!gameInstance.isGameRunning"
            class="btn btn-white"
            (click)="runGame()">Start
          </button>
          <button
            *ngIf="gameInstance.isGameRunning"
            class="btn btn-white"
            (click)="gameInstance.stopGame()">Finish
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="gameInstance?.isModalShow" (click)="gameInstance.resetGame()"
  class="modal">
  <div
    class="modal-dialog"
    (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">
          Result
        </p>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="gameInstance.resetGame()">
          X
        </button>
      </div>
      <div class="modal-body">
        <div class="statistic-item-wrapper">
          <span class="statistic-item-label">
          Your score:
          </span>
          <span class="statistic-item-value">
         {{gameInstance.score}}
          </span>
        </div>
        <div class="statistic-item-wrapper">
          <span class="statistic-item-label">
            Words:
          </span>
          <span
            *ngIf="gameInstance.gameType === gameTypeEnum.TEST"
            class="statistic-item-value">
           {{gameInstance.wordsProgress}} / {{gameInstance.sizeWordsRange}}
          </span>
          <span
            *ngIf="gameInstance.gameType === gameTypeEnum.STUDY"
            class="statistic-item-value">
           {{gameInstance.wordsProgress}}
          </span>
        </div>
        <div
          *ngIf="gameInstance.gameType === gameTypeEnum.TEST"
          class="statistic-item-wrapper">
          <span class="statistic-item-label">
            Wrong:
          </span>
          <span class="statistic-item-value">
           {{gameInstance.mistake}}
          </span>
        </div>
        <div class="statistic-item-wrapper">
          <span class="statistic-item-label">
            Mistake:
          </span>
          <span
            *ngIf="gameInstance.mistake && gameInstance.gameType === gameTypeEnum.TEST"
            class="statistic-item-value">
           {{gameInstance.mistake}} - {{gameInstance.mistake / (gameInstance.mistake + gameInstance.wordsProgress) * 100 | number : '1.0-0'}}%
          </span>
          <span
            *ngIf="!gameInstance.mistake  && gameInstance.gameType === gameTypeEnum.TEST"
            class="statistic-item-value">
           {{gameInstance.mistake}}%
          </span>
          <span
            *ngIf="gameInstance.gameType === gameTypeEnum.STUDY"
            class="statistic-item-value">
           {{gameInstance.mistake}}
          </span>
        </div>
        <div
          *ngIf="gameInstance.gameType === gameTypeEnum.TEST"
          class="statistic-item-wrapper">
          <span class="statistic-item-label">
            Time:
          </span>
          <span class="statistic-item-value">
           {{gameInstance.totalGameTime | date : 'mm:ss'}}
          </span>
        </div>
        <div
          *ngIf="gameInstance.gameType === gameTypeEnum.TEST && (gameInstance.wordsProgress ||gameInstance.mistake)"
          class="statistic-item-wrapper">
          <span class="statistic-item-label">
            Av. answer time:
          </span>
          <span class="statistic-item-value">
           {{gameInstance.totalGameTime.getSeconds() / (gameInstance.mistake + gameInstance.wordsProgress) | number : '1.0-2'}} sec
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn-close"
          (click)="gameInstance.resetGame()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
