.header {
  padding-top: 40px;
}

@import "src/variables";

.title {
  color: #FFF;
  text-align: center;
  font-size: 72px;
  font-family: Lora, sans-serif;
  font-weight: 400;
  background: -webkit-linear-gradient(#FFF, $secondary-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game-config {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-section {
  margin-top: 40px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.game-field {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.background-wrapper {
  background: rgba(167, 171, 174, 0.08);
  border-radius: 30px;
  padding: 1rem 2rem;
  text-align: end;
}

.statistic {

  &-item-wrapper {
    display: flex;
    justify-content: space-around;
  }

  &-item-label {
    color: #800080;
    font-size: 36px;
    width: 50%;
  }

  &-item-value {
    text-align: center;
    margin-left: 10px;
    font-size: 36px;
    width: 50%;
  }
}

.game-control-wrapper {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.game-control {
  display: flex;
}

.game-statistic {
  margin-bottom: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  background: #FFFFFF;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 48px;
  padding: .75rem 1.5rem;

  &-white {
    color: #4E0C4B;
  }

  &-purple {
    color: #FFF;
    background-color: $main-color;
  }

  &-word {
    background: $main-color;
    border-radius: 30px;
    font-size: 24px;
    height: 50px;

    &:hover {
      background-color: $main-color-hover;
      box-shadow: 0 0 10px 3px rgba(255, 255, 255, .2);
    }
  }

  &-scale {
    transform: scale(1.1);
    background-color: $main-color-hover;
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, .2);
  }

  &-not-equal {
    box-shadow: 0 0 10px 3px rgba(253, 0, 0, 0.76) !important;
  }

  &-equal {
    box-shadow: 0 0 10px 3px rgba(119, 255, 0, 0.76) !important;
  }

  &-close {
    box-sizing: content-box;
    padding: .25em .25em;
    color: $main-color;
    font-size: 24px;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
    cursor: pointer;
  }
}

.opacity-zero {
  opacity: 0;
}

.mb-40 {
  margin-bottom: 40px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;

  &-dialog {
    position: relative;
    width: auto;
    max-width: 500px;
    margin: 10rem auto;
    pointer-events: none;
  }

  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: rgba(167, 171, 174, 0.08);
    border-radius: 30px;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
  }

  &-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: .75rem 1.5rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
  }

  &-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: #800080;;
    font-size: 36px;
  }

  &-body {
    position: relative;
    flex: 1 1 auto;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem 1.5rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
  }
}
